@value lineHeight: 2px;
@value circleRad: 12px;
@value activeLinkCircleMultiplier: 1.5;

.cvWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cvWrapper :global .activeLink {
  .circle {
    width: calc(circleRad * activeLinkCircleMultiplier);
    height: calc(circleRad * activeLinkCircleMultiplier);
    top: calc(circleRad * activeLinkCircleMultiplier / -2);
  }
  .date {
    font-size: 1.3rem;
    width: 100px;
  }
}

.line {
  width: 100%;
  height: lineHeight;
  background-color: white;
  position: relative;
  margin-top: 5rem;
}

.jobPost {
  flex-grow: 1;
}

.circle {
  width: circleRad;
  height: circleRad;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: calc(circleRad/-2);
}

.date {
  width: 80px;
  transform: rotate(310deg) translateX(28px);
  transform-origin: left;
}
