@value lineHeight: 2px;
@value circleRad: 25px;
@value activeLinkCircleMultiplier: 1.8;

.cvWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
}

.jobPost {
  flex-grow: 1;
  width: 800px;
  margin: 0 auto;
}
