@value lineHeight: 2px;

.line {
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .line {
    height: lineHeight;
    background-color: white;
    margin-bottom: 6rem;
    margin-top: 7rem;
  }
}
