@value lineHeight: 2px;
@value circleRad: 25px;
@value activeLinkCircleMultiplier: 1.8;

.cvWrapper {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.5rem;
}

.jobPost {
  flex-grow: 1;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .cvWrapper {
    display: flex;
    flex-direction: column;
  }
}
